/build
/*.pro.user
/*.pro.user.*
/Makefile
/qrc_resources.cpp
/work-report
/.qmake.stash
/report-builder/build
/report-builder/*.pro.user
/report-builder/*.pro.user.*
/report-builder/Makefile
/report-builder/report-builder
