[Desktop Entry]
Version=1.0

Name=Report Master
Name[ru]=Мастер отчетов

Comment=Make a beautiful report and send it to your supervisor
Comment[ru]=Создай шикарный отчёт и отправь его своему руководителю

GenericName=Work report editor
GenericName[ru]=Редактор отчетов

Keywords=Report;Jnxtn;Master;Vfcnth
Keywords[ru]=Отчет;Отчёт;Кузщке;Мастер;Ьфыеук

Exec=work-report
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=time-admin
Categories=Office;Network

